<h1 class="text-center mt-5 px-4">Signup page</h1>
<form
        class="max-width-320 content-center px-4"
        [formGroup]="signupForm"
        (ngSubmit)="onSignup()">
  <mat-form-field>
    <input
            type="email"
            formControlName="email"
            matInput
            placeholder="Email"
            required
    >
    <mat-error *ngIf="signupForm.controls['email'].errors?.required">Field not must be empty</mat-error>
    <mat-error *ngIf="signupForm.controls['email'].errors?.email && !signupForm.controls['email'].errors?.required"
      >Email is invalid</mat-error>
  </mat-form-field>

  <div class="mb-2">
    <mat-form-field hintLabel="Should be at least 6 characters long">
      <input
              type="password"
              formControlName="password"
              matInput
              placeholder="Password"
              required
      >
      <mat-error>Has to be at least 6 characters long</mat-error>
    </mat-form-field>
  </div>

  <div class="mb-4">
    <mat-form-field>
      <input
              type="password"
              formControlName="password2"
              matInput
              placeholder="Repeat password"
              required
      >
      <mat-error *ngIf="signupForm.hasError('notMatching')">The passwords are not matching</mat-error>
    </mat-form-field>
  </div>
  <div class="mb-4">
    <p class="sub-text">This application was created for personal use. By registering in it, you agree to act on the guest’s fault and not to make any claims, as he does not bear any responsibility</p>
    <mat-checkbox
            formControlName="agree"
            color="primary"
            required
    >I agree</mat-checkbox>
  </div>
  <div class="text-center">
    <button
            mat-raised-button
            type="submit"
            color="primary"
            [disabled]="signupForm.invalid"
    >Signup</button>
  </div>
</form>
<div class="text-center p-4">
  <a class="link" routerLink="/login">I have an account</a>
</div>