:host {
  display: block;
  padding: 50px 24px;
}

.category {
  max-width: 480px;
  margin: 0 auto 20px;
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;

  &__name {
    font-size: 21px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 40px;
    margin: 0;
  }

  &__actions {
    padding-left: 6px;
    padding-right: 6px;
    min-width: 84px;
    text-align: right;
  }
}