
a {
  color: #fff;
  text-decoration: none;

  &:hover,
  &:active {
    color: #ddd;
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;

  ul {
    display: flex;
  }

  li {
    margin: 10px;
    list-style-type: none;
  }
}
