:host {
  position: fixed;
  bottom: 0;
  left: calc(50% + 264px);
  z-index: 2;

  @media screen and (max-width: 767.98px) {
    left: calc(100% - 88px);
  }
}

.add-button {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  padding: 24px;
}