<mat-tab-group>
  <mat-tab label="Spending">
    <table class="table table-sm">
      <thead>
      <th>Title</th>
      <th>Cost</th>
      <th>Category</th>
      <th>Date</th>
      <th></th>
      </thead>
      <ng-container *ngFor="let item of spendingArr">
        <tr>
          <td>{{item.title}}</td>
          <td>{{item.cost}}</td>
          <td>{{item.category}}</td>
          <td>{{item.date}}</td>
          <td>
            <button mat-icon-button (click)="editSpending(item)">
              <mat-icon aria-label="Edit category">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteSpending(item.$key)">
              <mat-icon aria-label="Remove category">delete_outline</mat-icon>
            </button>
          </td>
        </tr>
      </ng-container>
    </table>

    <app-add-button (handleClick)="addSpending()"></app-add-button>
  </mat-tab>
  <mat-tab label="Chart">
    Chart content
  </mat-tab>
</mat-tab-group>
